@font-face {
    font-family: "MNR";
    src: url("../font/MFLIHEI_NONCOMMERCIAL-REGULAR.OTF");
}

@font-face {
    font-family: "HY";
    src: url("../font/汉仪菱心体简.TTF");
}

@font-face {
    font-family: "HK";
    src: url("../font/华康简综艺.TTF");
}

@font-face {
    font-family: "AGENCYB";
    src: url("../font/AGENCYR.TTF");
}
